{
  "extends": "standard",
  "rules": {
    "space-before-function-paren": ["error", "never"],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  },
  "env": {
    "jest": true
  }
}