{
    "extends": "standard",
    "rules": {
        "space-before-function-paren": [
            "warn",
            "never"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    },
    "env": {
        "jest": true
    }
}