node_modules/
.env
storage/*
!storage/.gitkeep
coverage/
logs/*
!logs/.gitkeep

.DS_Store
**/*.backup.*
**/*.back.*
.webpack/
.temp
.vscode-test
.cache
.npm
.eslintcache
lib-cov
pids
*.pid
*.seed
*.pid.lock
*.log
npm-debug.log*
*.so
.vscode
.idea/
.eslintrc.js